<div class="match-frame">
    <div class="match-date">
        <span class="match-date-date">
            {{match_date}}
        </span>
    </div>
    <div class="match-dets">
        <div class="match-dets-team-home" style ="background: linear-gradient(270deg,{{team_home_bg}} 0%,#FFFFFF 100%);">
            <span class="match-dets-team-text">{{match_team1}}</span>
            <div class="logo-container-home"><img class="match-dets-team-logo" alt="Home Logo" src="/svg/logos/{{logo_src1}}-logo.svg"></div>
        </div>

        <div class="match-dets-score-home-container">
                <span class="match-dets-score-score">{{match_score1}}</span>
            </div>
        <div class="match-dets-score-away-container">
                <span class="match-dets-score-score">{{match_score2}}</span>
            </div>

        <div class="match-dets-team-away"style="    background: linear-gradient(90deg,{{team_away_bg}} 0%, #FFFFFF 100% );">
            <div class="logo-container-away"><img class="match-dets-team-logo" alt="Away Logo" src="/svg/logos/{{logo_src2}}-logo.svg">
            </div>
            <span class="match-dets-team-text"  >{{match_team2}}</span>

        </div>
    </div>
    <div class="match=location" style="">
       <span class="match-location-location"> <img class="location-graphic" alt='Info Logo' src="/svg/info/{{info_src2}}">
            {{match_location}}</span>
    </div>
</div>