<div class="match-frame">
    <div class="match-date">
        <span class="match-date-date">
            <img alt='Location Logo' src="/svg/info/{{info_src1}}" id="{{info_id1}}">
            {{match_day}} {{match_date}}
        </span>
    </div>
    <div class="match-dets">
        <div class="match-dets-team">
            <span class="match-date-day">{{match_team1}}</span>
            </div>
        <div class="logo-container"><img class="match-dets-team-logo" alt="Home Logo" src="/svg/logos/{{logo_src1}}" id="{{logo_id1}}">
        </div>
        <div class="match-dets-score">
            <div class="match-dets-score-container">
                <span class="match-dets-score-score">{{match_score1}}</span>
            </div>
            <div class="match-dets-score-container">
                <span class="match-dets-score-score">{{match_score2}}</span>
            </div>
        </div><div class="logo-container"><img class="match-dets-team-logo" alt="Away Logo" src="/svg/logos/{{logo_src2}}" id="{{logo_id2}}">
    </div>
        <div class="match-dets-team">

            <span class="match-date-date">{{match_team2}}</span>

        </div>
    </div>
    <div class="match=location" style="">
        <span class="match-location-location"><img alt='Info Logo' src="/svg/info/{{info_src2}}" id="{{info_id2}}">{{match_location}}</span>
    </div>
</div>