<table class="table-row">
    <tr class="position">
        <span class="position-text">{{position}}</span>
    </tr>
    <tr class="position">
        {{#if logo_src}}
            <img class="team-logo" src="/svg/logos/{{logo_src}}-logo.svg" alt="team-logo">
        {{/if}}
        <span class="position-text">{{name}}</span>
    </tr>
    <tr class="position">
        <span class="position-text">{{played}}</span>
    </tr>
    <tr class="position">
        <span class="position-text">{{won}}</span>
    </tr>
    <tr class="position">
        <span class="position-text">{{drawn}}</span>
    </tr>
    <tr class="position">
        <span class="position-text">{{lost}}</span>
    </tr>
    <tr class="position">
        <span class="position-text">{{GS}}</span>
    </tr>
    <tr class="position">
        <span class="position-text">{{GC}}</span>
    </tr>
    <tr class="position">
        <span class="position-text">{{GD}}</span>
    </tr>
    <tr class="position">
        <span class="position-text">{{Pts}}</span>
    </tr>
</table>