<div class="team-banner-container">
    <div class="team-banner">
        <div class="team-stad">
        <img class='stad_img' src="/svg/stadiums/{{stad_name_short}}.svg" alt="{{stadium}}">
    </div>

            <div class="team-logo" style="background: {{team_bg}}">
                <img class='logo-icon' src="/svg/logos-small/{{team_name_short}}-small.svg" alt="{{team_name}}">
                <span class="team-name">
                    {{team_name}}
                </span>
            </div>


    </div>
    <div class="team-navs"></div>
</div>