<a href="/teams/{{logos_team_name}}">
<div class='item'style="background: {{team_bg}}">
    <div class="stad_container">
        <img class='stad_img' alt="Stadium" src="/svg/stadiums-small/{{stad_img}}">
    </div>
    <div class="icon-container">
        <img class="item-icon" src="/svg/logos-small/{{team_img}}.svg" alt="Team Logo">
    </div>
    <div class="item-info" >
            <span class="item-info-title">{{team_name}}</span>
            <span class="item-info-stad">{{stad_name}}</span>
    </div>
</div>
</a>