<div class="team-banner-container">
    <div class="team-banner">
        <div class="team-stad">
        <img class='stad_img' src="/svg/stadiums/{{stad_img}}" alt="{{stad_name}}">
        <!--            <span class="stad-name">-->
        <!--                {{stad_name}} </span>-->
    </div>

            <div class="team-logo" style="background: {{team_bg}}">
                <img class='logo-icon' src="/svg/logos-small/{{team_img}}.svg" alt="{{team_name}}">
                <span class="team-name">
                    {{team_name}}
                </span>
            </div>


    </div>
    <div class="team-navs"></div>
</div>