<div class="team-banner-container">
    <div class="team-banner">
        <div class="team">
            <div class="team-logo">
                <img src="{{team.logo}}" alt="{{team.name}}">
                <span class="team-name">
                    {{team.name}}
                </span>
            </div>

        </div>
        <div class="team-stad">
            <img class='stad_img' src="{{team.stad.image}}" alt="{{team.stad.name}}">
            <span class="stad-name">
                {{team.stad.name}} </span>
        </div>
    </div>
    <div class="team-navs"></div>
</div>